@use './mixins' as *;

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;

    &[data-opened='true'] {
        display: block;
    }
}

.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    min-width: 200px;
    max-width: 350px;
    width: 100%;
    height: 100dvh;
    overflow-y: scroll;
    padding: 2em;
    margin-left: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    background-color: var(--background-color);

    .logo {
        width: 2.5em;
        height: 2.5em;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2em;
    }

    &[data-opened='true'] {
        transform: translateX(0);
    }

    @include breakpoint(tablet) {
        font-size: 1.1em;
    }

    @include breakpoint(mobile) {
        font-size: 1.2em;
    }
}
