.toggleSwitch {
    appearance: none;
    width: 50px;
    height: 25px;
    background-color: inherit;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;

    &:checked {
        background-color: var(--primary-color);
    }

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 2px solid var(--border-color);
        border-radius: 50%;
        position: absolute;
        top: 49%;
        left: 0;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
    }

    &:checked::before {
        transform: translate(25px, -50%);
    }
}
