.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3em;
    min-width: 200px;
    width: fit-content;
    margin: auto;

    .logo {
        width: 2.5em;
        height: 2.5em;
    }
}
