@use './constants' as *;
@use './mixins' as *;
@use './_theme' as *;

html {
    display: table;
    width: 100%;
    height: 100%;
    font-size: #{$font-size-base};

    &[data-noscroll='true'] {
        overflow: hidden;
    }
}

body {
    position: relative;
    display: table-cell;
    min-height: 100%;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--font-primary);

    @include breakpoint(mobile) {
        font-size: #{$font-size-mobile};
    }

    @include breakpoint(tablet) {
        font-size: #{$font-size-tablet};
    }

    @include breakpoint(laptop) {
        font-size: #{$font-size-laptop};
    }

    @include breakpoint(desktop) {
        font-size: #{$font-size-desktop};
    }
}
