@use './_constants' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        color: inherit;
        font-weight: #{$font-weight-s};

        .icon {
            width: 1.5em;
            height: 1.5em;
        }
    }
}
